@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

body{
    background: url(img/Background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    grid-template-rows: 25vh 25vh 25vh 15vh 10vh;
    grid-template-columns: 25vw 25vw 25vw 25vw;
}

#headerGrid{
    display: grid;
    grid-template-rows: 25vh;
    grid-template-columns: 25vw 50vw 25vw;

}

.header{
background-color: lightgray;
border: solid black 2px;
justify-content: center; 
}

.filter{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;   
    p{
        background-color: white;
        border: solid black 2px;
        margin: 5%;
    }
}

#rubrik{
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: "Oleo script";
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

.varukorg{
    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;
}

#main{
    display: grid;
    grid-template-rows: 65vh;
    grid-template-columns: 25vw 50vw 25vw;
    grid-column: 1/4;
    grid-row: 2/4;
}