@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

body{
    background: url(img/Background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    grid-template-columns: 25vw, 25vw, 25vw, 25vw;
    grid-template-rows: 25vh, 25vh, 25vh, 25vh;
}

#header{
    display: grid;
}

#filter{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: center;
    background-color: lightgray;
    margin-right: 75%;
    padding-bottom: 2.5%;
    border: solid black 2px;
    min-width: 60px;
    height: 150px;
    p{
        background-color: white;
        border: solid black 2px;
        margin: 5%;
    }
}

#rubrik{
    display: grid;
    grid-column: 2/4;
    grid-row: 1/2;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: "Oleo script";
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

#varukorg{
    display: grid;
    grid-column: 4/5;
    grid-row: 1/2;
    justify-content: center;
    background-color: lightgray;
    margin-left: 60%;
    margin-bottom: 50%;
    border: solid black 2px;
}

#main{
    display: grid;
    grid-column: 1/5;
    grid-row: 2/3;
}