@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

body {
    background: url(img/Background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    grid-template-rows: 25vh 25vh 25vh 5vh 20vh;
    grid-template-columns: 25vw 25vw 25vw 25vw;
}

h1,
h2 {
    font-family: "Oleo script";
    text-decoration: underline;
}

#headerGrid {
    display: grid;
    grid-template-rows: 25vh;
    grid-template-columns: 25vw 50vw 25vw;

}

.div {
    background-color: rgb(255, 255, 255, .6);
    border: solid black 2px;
    justify-content: center;
}

.filter {
    grid-column: 1/2;
    grid-row: 1/2;
    min-width: 60px;
    width: 30%;

    h2 {
        display: flex;
        justify-content: center;
    }

    p {
        background-color: rgb(217, 217, 217);
        border: solid black 2px;
        margin: 5%;
        font-weight: bold;
        font-size: 90%;
    }
}

#rubrik {
    display: flex;
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

#centVarukorg {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
}

.varukorg {
    display: flex;
    align-items: center;
    min-width: 100px;
    width: 50%;
    min-height: 25px;
    height: 40%;
    margin-top: -3.5%;
}

#main {
    display: grid;
    grid-template-rows: 65vh;
    grid-template-columns: 25vw 50vw 25vw;
    grid-column: 1/4;
    grid-row: 2/4;
}

.produkter {
    grid-row: 1/2;
    grid-column: 2/3;
    border-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.produkt {
    display: flex;
    align-items: center;
    margin: 2%;
    flex-direction: column;
    margin-top: 80px;
}

.prisbox {
    background-color: rgb(255, 255, 255);
    border: solid black 2px;
    margin-top: -60px;
    height: 25px;
    display: flex;
    align-items: center;
    flex-direction: row;
    p{
        font-size: 15px;
    }
}

.brädor {
    height: 75%;
}

.sidoBilder {
    width: 70%;
    border: solid black 2px;
}

.skate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.påven {
    grid-row: 1/2;
    grid-column: 3/4;
}

.jesus {
    grid-row: 1/2;
    grid-column: 1/2;
}

#footer {
    grid-row: 4/5;
    grid-column: 1/5;
    background-color: rgb(136, 136, 136);
    border-top: solid black 2px;
    position: fixed;
    left: 0;
    right: 0;
}

#footerContent {
    display: flex;
}

#logga {
    width: 4%;
    border-right: solid black 2px;
}

#s2Logga {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}